*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cursor{
    height: 30px;
    width: 30px;
    background-color: aliceblue;
    border-radius: 50%;
    position: absolute;
} 
h1{
    color: white;
    mix-blend-mode: difference;
    letter-spacing: 10px;
    font-size: 100px;
}