*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
   
}
html,body{
    height: 100%;
    width: 100%;

}
body{
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    height: 350px;
    width: 250px;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}
.card img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 4px solid red;
}
.card h2{
    font-size: 20px;
}
.card h5{
    font-size: 15px;
    color: red;
    margin-top: 12px;
    margin-bottom: 28px;
}
.card button{
    background-color:rgb(26, 255, 26);
    color: #fff;
    border: 2px solid white;
    border-radius: 5px;
    padding: 12px 25px;
    font-size: 17px;
    font-weight:600;
    cursor: pointer;
}
button:active{
    scale:0.95;
}